<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
{% assign main_menu_linklist = linklists[section.settings.menu].links %}
{% comment %} {{ shop.customer_accounts_enabled }} {% endcomment %}

<div class="" x-data="{ mobileMenuOpen: false, searchBarOpen:false }">
  <div class="">
    <div class="desktop-nav">
      <!-- STORE NAME / STORE LOGO -->
      <div class="">
        <h1 class="">{{ section.settings.mobile_menu_title }}</h1>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class="desktop-nav-links-container">
        {% for link in main_menu_linklist %}
          {% assign link_handle = link.handle | replace: '-', '_' %}
          {% if link.links != blank %}
            <div x-data="{ {{ link_handle }}:false }" class="desktop-nav-links">
              <button
                x-on:click="{{ link_handle }} = !{{ link_handle }}"
                type="button"
                class="flex-icon-button"
              >
                <span>{{ link.title }}</span>
                {% render 'dropdown-icon' %}
              </button>

              <div
                x-show="{{ link_handle }}"
                @click.away="{{ link_handle }} = false"
                class=""
              >
                <div class="desktop-nav-dropdown">
                  {% for sublink in link.links %}
                    <div class="desktop-nav-dropdown-links-wrapper">
                      <a href="{{ sublink.url }}" class="desktop-nav-dropdown-links">
                        {{ sublink.title }}
                      </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="desktop-nav-links">
              <a href="{{ link.url }}" class="desktop-nav-links">{{ link.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </nav>

      <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
      <div class="cart-and-user-menu">
        <button
          x-on:click="searchBarOpen = true"
          type="button"
          class="icon-button"
        >
          {% render 'search-icon' %}
        </button>
        <a href="{{ routes.cart_url }}" class="desktop-nav-links icon-button">
          {% render 'bag-icon' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="{{ routes.account_login_url }}" class="desktop-nav-links">Login</a>
          <a href="{{ routes.account_register_url }}" class="desktop-nav-links">Register</a>
        {% endif %}
      </div>

      <!-- Moblie MENU -->
      <div class="mobile-menu-icon">
        <button
          type="button"
          class="icon-button"
          @click="mobileMenuOpen = !mobileMenuOpen"
        >
          {% render 'menu-icon' %}
        </button>
      </div>

      <!-- MOBILE MENU CONTAINER -->
      <div x-show="mobileMenuOpen" class="mobile-side-menu-bar-wrapper">
        <div class="mobile-side-menu-bar">
          <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
          <div class="mobile-nav-header">
            <div>
              <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
            </div>
            <div class="-mr-2">
              <button @click="mobileMenuOpen = false" type="button" class="icon-button">
                {% render 'close-icon' %}
              </button>
            </div>
          </div>

          <!-- NAVIGATION LINKS FOR MOBILE MENU -->
          <div class="mobile-nav-items-wrapper">
            <nav class="mobile-nav-items">
              {% for link in main_menu_linklist %}
                {% assign link_handle = link.handle | replace: '-', '_' %}
                {% if link.links != blank %}
                  <div x-data="{ {{ link_handle }}:false }" class="relative">
                    <button
                      @click="{{ link_handle }} = !{{ link_handle }}"
                      type="button"
                      class="flex-icon-button"
                    >
                      <div>{{ link.title }}</div>
                      {% render 'dropdown-icon' %}
                    </button>

                    <div x-show="{{ link_handle }}" class="grid gap-y-7 py-3">
                      {% for sublink in link.links %}
                        <a
                          href="{{ sublink.url }}"
                          class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                        >
                          <span class="ml-3 text-base font-medium text-gray-500">{{ sublink.title }}</span>
                        </a>
                      {% endfor %}
                    </div>
                  </div>

                {% else %}
                  <a
                    href="{{ link.url }}"
                    class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                  >
                    {{ link.title }}
                  </a>
                {% endif %}
              {% endfor %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div x-show="searchBarOpen" class="">
    <button type="button" x-on:click="searchBarOpen = false" class="">
      {% render 'close-icon' %}
    </button>
    <div class="">
      <form action="{{ routes.search_url }}" method="get" class="">
        <div class="">
          <input
            type="search"
            name="q"
            placeholder="Search"
            class=""
          >
          <button type="submit" class="">
            {% render 'search-icon' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Navigational Bar",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "This is title of the mobile menu window"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu",
      "default": "main-menu"
      // "info": "This is title of the mobile menu window"
    }
  ]
}
{% endschema %}
