{% if cart.item_count > 0 %}
  <div class="cart-section">
    <div class="cart-heading-wrapper">
      <div class="cart-heading">
        <h1>Your cart</h1>
        <a href="{{routes.all_products_collection_url}}" class="continue-shopping-button">Continue shopping</a>
      </div>
    </div>
    <div class="cart-body">
      <form action="{{ routes.cart_url }}" method="POST" novalidate class="cart-form">
        <table class="cart-table">
          <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="table-row">
                <td class=" flex-td">
                  <a href="{{ item.url }}">
                    {% if item.image %}
                      <img
                        class="object-cover border"
                        src="{{ item.image |  image_url  }}"
                        alt="{{ item.title |  escape }}"
                        width="90px"
                        height="90px"
                      >
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </a>
                </td>
                <td class="flex-td">
                  <a href="{{ item.url }}" class="product-title">{{ item.product.title | truncatewords: 5 }}</a>
                  <span class="product-variant">{{ item.variant.title }}</span>
                  <a
                    href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
                    class="remove-button"
                    >remove</a
                  >
                </td>
                <td>
                  <input
                    class="quantity-input"
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    min="0"
                    id="updates_{{ forloop.index }}"
                  >
                </td>
                <td>{{ item.line_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="notes-and-checkout">
          <div class="cart-notes-wrapper">
            <div class="cart-notes">
              <label for="cart_notes" class="cart-notes-label">Cart notes</label>
              <textarea name="note" id="cart_notes"></textarea>
            </div>
          </div>
          <div class="subtotal-and-checkout">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'subtotal' %}
                  <h3 class="subtotal">Subtotal: {{ cart.total_price | money }}</h3>
                {% when 'update_button' %}
                  <button
                    type="submit"
                    name="update"
                    class="update-button"
                  >
                    Update
                  </button>

                {% when 'checkout_button' %}
                  <div>
                    <button
                      class="checkout-button"
                      type="submit"
                      name="checkout"
                    >
                      Checkout
                    </button>
                  </div>

                {% else %}

              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="cart-heading-wrapper-no-product">
    <div class="cart-heading-no-product">
      <h1>Your cart</h1>
      <a href="{{routes.all_products_collection_url}}" class="continue-shopping-button-no-product">Continue shopping</a>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Template Cart",
  "blocks": [
    {
      "type": "subtotal",
      "name": "Subtotal",
      "limit": 1
    },
    {
      "type": "update_button",
      "name": "Update Button",
      "limit": 1
    },
    {
      "type": "checkout_button",
      "name": "Checkout Button",
      "limit": 1
    }
  ],
  "settings": []
}
{% endschema %}
